# IDE Files
#-------------------------
/nbproject/
.idea/*
.phalcon/*
.env
.htaccess
mix-manifest.json

/app/backend/cache/volt/*
/app/frontend/cache/volt/*
/app/logs/*
/app/log/*
/app/cache/*
/app/caches/*
/app/messages/*
/public/files/*
/public/assets/css/pages/*
/public/bannerhtml/*
/public/counter/*
/public/counter_ip/*
/public/uploads/*
/public/messages/*
/public/assets/images/cache
/public/frontend/images/cache
/public/storage/
composer.lock
yarn.lock
/vendor/
node_modules/